# Python stuff
*.egg-info
.coverage
__pycache__
coverage.xml
.coverage
cov.xml
dist
junit.xml
.venv

# Mac stuff
.DS_Store

# Editor specific stuff
.vscode
docs/build/

# make
examples/.fw/
examples/.test.log

# secrets
npac_api.fernet
